Checks: "-*,readability-identifier-naming,llvm-include-order"
FormatStyle: File
CheckOptions:
  llvm-include-order.UserHeaders: "src,lib,kernel,paging,serial,vga"
  readability-identifier-naming.FunctionCase: "lower_case"
  readability-identifier-naming.VariableCase: "lower_case"
  readability-identifier-naming.GlobalVariablePrefix: "g_"
  readability-identifier-naming.GlobalVariableCase: "lower_case"
  readability-identifier-naming.GlobalConstantCase: "UPPER_CASE"
